/* App.css */

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-color: #fdfdfd;
  color: #333;
  line-height: 1.6;
}

main {
  padding: 2rem;
  min-height: 70vh;
}

/* Default button styles */
button {
  background-color: #f4ce14;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #ddb400;
}
